---
title: Wellidate - installation
---
<div class="widget docs">
    <div class="widget-header">
        <div class="fa fa-info"></div>
        <span>Installation steps</span>
    </div>
    <div class="widget-content">
        <p>
            Install wellidate package from npm.
        </p>
        <pre>> npm i wellidate</pre>
        <p>
            Include wellidate scripts to your project and your page.
        </p>
        <pre>
&lt;html&gt;
    &lt;body&gt;
<b class="install-note"><span class="diff-add">+</span>       &lt;script src="/scripts/wellidate.js"&gt;&lt;/script&gt;</b>
    &lt;/body&gt;
&lt;/html&gt;</pre>
        <p>
            Initialize Wellidate instances after rendering html
        </p>
        <pre>
&lt;html&gt;
    &lt;body&gt;
        ...

        &lt;script src="/scripts/wellidate.js"&gt;&lt;/script&gt;
        &lt;script&gt;
<b class="install-note"><span class="diff-add">+</span>           [].forEach.call(document.getElementsByTagName("form"), form => {
<span class="diff-add">+</span>               new Wellidate(form);
<span class="diff-add">+</span>           });</b>
        &lt;/script&gt;
    &lt;/body&gt;
&lt;/html&gt;
</pre>
    </div>
</div>
